<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>ReciclApp - Agregar punto</title>
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-color: #00100c;">
    <div class="row">
       <a href="/index"><img src="{% static 'img/logo.png' %}" style="height: 150px;width:200px;text-align: center;"></a>
       <h1 class="mt-5" style="color:#ffffff;text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;Vamos a agregar un punto!</h1>
    </div>
    <div class="container" style="text-align:left">
        <form method="post" action="" id="validate_me">{% csrf_token %}
            <div class="form-group">
                <label for="nombrePunto" style="color:#ffffff;text-align: left;">Nombre del punto:</label>
                <p><input class="form-control" type="text" id="nombrePunto" name="nombrePunto" placeholder="Nombre del Punto de reciclaje" required></p>
            </div>
            <div class="form-group">
                <label for="direccionPunto" style="color:#ffffff;text-align: left;">Dirección del punto:</label>
                <p><input class="form-control" type="text" id="direccionPunto" name="direccionPunto" placeholder="Dirección del Punto de reciclaje" required></p>
            </div>
            <div class="form-group">
                <label for="descripcionP" style="color:#ffffff;text-align: left;">Descripción del punto:</label>
                <textarea class="form-control" type="textarea" id="descripcionP" name="descripcionP" placeholder="Descripción del Punto de reciclaje" rows="5" required></textarea>
            </div>
            <input type="hidden" value="" id="lnglat">
            <button type="submit" class="btn btn-primary">Crear punto</button>
        </form>
    </div>

    <!-- bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>